DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gxexercise"
SES_SECRET="gxexercise_session_20260924_abcdefghi"
GXACCOUNT_URL="https://account.gxwtf.cn"
OPENAI_BASE_URL="https://api.siliconflow.cn"
OPENAI_API_KEY="sk-1145141919810"
OPENAI_MODEL="deepseek-ai/DeepSeek-V4-Flash"
